@font-face {
    font-family: head;
    src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
}

body {
    background-color: #f5f3ed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* grid containor for navbar  */
.containor {
    background-color: white;
    padding: 0em;
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5em;
    justify-items: start;
    align-items: center;
    box-shadow: 1px 0 8px 1px;
}


/* head with image making logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0rem 1rem 0rem 1rem;
}

/* image insie logo */
#head-img {
    margin: 0.1em;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(156, 204, 243);
    box-shadow: 0 0 5px 5px rgba(156, 204, 243, 0.575);
    border-radius: 50%;

}

/* text inside the logo */
#head {
    min-width: fit-content;
    margin: 1px;
    font-family: head;
    font-size: 2em;
    text-align: center;
    color: rgb(7, 7, 7);
    padding: 0rem 1rem 0rem 1rem;


}

/* second part of the text in head */
#head span {
    color: rgb(2, 83, 150);
}


/* hidden menu button div */

#res-menu {
    display: none;

}

/* navigation bar */
.navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0rem 1rem 0rem 1rem;
}

/* links inside the navigation bar */
.navigation .links {
    align-items: start;
    padding: 0em 1em 0em 1em;
    text-decoration: none;
    color: rgb(7, 7, 7);

}

#back-btn {
    display: none;
    border: none;
}

/* links inside the navigation bar on hover */
.navigation .links:hover {
    color: rgb(2, 83, 150);
    text-shadow: 0 0 4px rgba(8, 116, 204, 0.575);
    transition: 0.3s;
}


/* contact button inside the navbar */
#contact-nav {
    background-color: rgba(39, 146, 233, 0.822);
    font-family: sans-serif;
    font-weight: bold;
    margin: 0.2em 0.5em 0.2em 1em;
    padding: 0.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: rgb(255, 254, 254);
    border-radius: 5px;

}


/* contact button inside navbar hover effect */
#contact-nav:hover {
    background-color: rgb(2, 83, 150);
    font-weight: bolder;
    box-shadow: 0 2px 5px 0 rgba(2, 83, 150, 0.575);
    border-radius: 30px 30px;
    transition: 0.5s;
}

/* hidden menu button for responsive design */
.menu-hidden {
    display: none;
}


/* temprory border for alignment checking */
/* .nav-box {
    border: 0.5px solid black;


} */





/* responsive design */

@media screen and (max-width: 750px) {
    #navbar {
        display: none;
        max-width: 80vw;
        padding: 0.5em 0.0em;
    }

    .links {
        padding: 0em 0.5em;
    }

    #navbar #contact-nav {
        display: none;
    }


    #res-menu {
        display: flex;
        max-width: max-content;
        background-color: rgba(39, 146, 233, 0.822);
        font-family: sans-serif;
        font-weight: bold;
        margin: 0.2em 0.5em 0.2em 3em;
        padding: 0.5em;
        border: none;
        font-size: 1em;
        cursor: pointer;
        color: rgb(255, 254, 254);
        border-radius: 5px;

    }


    .containor {
        padding: 0em 0.5em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.01em;
        box-shadow: 0px 0 2px 0.5px;
        /* border: 1px solid black; */
        position: fixed;
        min-width: 100vw;
    }


    #head {
        font-size: 1.5em;

    }


    #back-btn {
        display: flex;
        background-color: transparent;
        margin: 0.02em;
        padding: 0.02em;
        color: rgb(236, 96, 96);
    }

    .menu-hidden {
        display: flex;
        background-color: rgba(39, 146, 233, 0.822);
        font-family: sans-serif;
        font-weight: bold;
        border: none;
        font-size: 1em;
        cursor: pointer;
        color: rgb(255, 254, 254);
        border-radius: 5px;

    }

}